<h1 class="title">{{ title }}</h1>
<div class="grid">
  <div *ngFor="let row of grid; let rowIndex = index" [attr.data-row]="rowIndex" class="row">
    <div
      *ngFor="let cell of row; let colIndex = index"
      [attr.data-col]="colIndex"
      (click)="toggleCell(rowIndex, colIndex)"
      [class.cell]="true"
      [class.live]="cell"
    ></div>
  </div>
</div>
<div class="controls">
  <button (click)="startAutoGeneration()">Démarrer</button>
  <button (click)="stopAutoGeneration()">Arrêter</button>
</div>

<style>
  .title {
    text-align: left;
    margin-bottom: 20px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2px;
  }
  .row {
    display: flex;
    gap: 2px;
  }
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }
  .cell.live {
    background-color: black;
  }
  .controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
    color: white;
  }
  button:hover {
    background-color: #0056b3;
  }
</style>
